@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
  padding: 50px;
  font: 14px 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

.divBodyLogin
{
	position: absolute;
	left: 50%;
	text-align: center;
	margin-left:-5%;
}
.txtLogin {
	width:170px;
}
.selectLogin
{
	width:170px;
}

.lblLogin
{
	font-size: 20px

}

.h1Title
{
	text-align: center;
}


.pWelcome
{
	text-align: center;
}

.imgProfile
{
	width:90px;
	height:90px;
}
.divFoto
{
	float:left;
}
.divAttribute{
float: left;
padding-left: 5%;
text-align: center;
}

.spanAttribute
{
	border:0px solid silver;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.spanAttributeValue
{
	border:1px solid silver;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom:10px;
}
.clear
{
	clear:both;
}
.txtWishList
{
	width: 600px;
	height: 200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow:auto;
}
